:root{
    background-color: aliceblue;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.h1{
    font-size: 4rem;
    color: cornflowerblue;
}
/* Utilities */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}